.App {
    padding: 2em 0 5em 2em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: space-between;
}

.App-link {
  color: #61dafb;
}

.App-filters {
    padding: 1em 0 1em 0;
    display: flex;
}

.App-filter {
    padding-right: 1em;
}

.App-table {
    font-size: calc(10px + 1vmin);
    background-color: white;
    margin-bottom: 0 !important;
}

.App-data {
    width: 90% !important;
    justify-content: space-between;
}

.App-data-wrap {
    padding: 1em 0 1em 0;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    content: "";
}

.App-table-body {
    font-weight: normal !important;
}

.App-data-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.App-button {
    margin-bottom: 1em;
}

.dropdown-toggle::after {
    display: none !important;
}

.App-table-msg {
    padding-top: 1ex;
}